<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) 2015 Drakeet <drakeet.me@gmail.com>
  ~
  ~ This file is part of Meizhi
  ~
  ~ Meizhi is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Meizhi is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Meizhi.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.drakeet.meizhi">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_meizhi_150602"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.AboutActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.PictureActivity"
            android:label="@string/title_activity_picture"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.WebActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.GankActivity"
            android:label="@string/title_activity_gank"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/NoReDrawWindowsBackground"
            android:launchMode="singleTask"/>

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService"/>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <receiver android:name=".service.AlarmReceiver">
            <intent-filter>
                <action android:name="me.drakeet.meizhi.alarm"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".service.KeepAlarmLiveReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5592386367e58e593d00234c"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>
        <meta-data
            android:name="AA_DB_NAME"
            android:value="gank.db"/>
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1"/>

    </application>

</manifest>
